$primary-color: #000000;
$secondary-color: #6c757d;
$tertiary-color: #ffffff;

* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to top, #ff99cc, #66c2ff, #66cc66);
}

.header {
  font-size: 60px;
  margin: 60px 50px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(20px);
  }
}

.container {
  display: flex;
  margin-bottom: 130px;

  .scores-table {
    padding: 10px 100px;
    width: 40%;

    .score-header {
      display: flex;
      gap: 10px;

      button {
        color: $primary-color;
        border: 2px solid $primary-color;
        box-shadow: 5px 5px 0 2px;
        margin-left: auto;
        padding: 7px 15px;
        background-color: $tertiary-color;
      }
    }

    table {
      margin-top: 50px;
      width: 100%;
      border: 3px solid $primary-color;
      border-radius: 30px;

      tr {
        width: 100%;

        &:nth-child(even) {
          background-color: #e6e3e3;
        }

        td {
          padding: 10px;
          padding-top: 10px;
          font-size: 28px;
          color: $primary-color;
        }
      }
    }
  }
}

.form-container {
  margin-left: 30px;

  .add-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 400px;

    .input-box {
      border: 3px solid $primary-color;
      width: 400px;
      font-weight: 500;
      height: 30px;
      padding: 5px;
      outline: none;
    }

    .add-btn {
      padding: 7px 15px;
      background-color: $tertiary-color;
      border: 2px solid $primary-color;
      font-size: 16px;
      font-weight: 500;
      box-shadow: 5px 5px 0 2px;
      align-self: flex-end;
    }
  }
}

.form h2 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 50px;
}

.refresher {
  color: $tertiary-color;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  font-size: 1.2rem;
  color: #555555;
}

.social-media a {
  margin-right: 20px;
  font-size: 1.5rem;
  color: #333;
}

footer {
  padding: 10px;
  border: 5px solid #244e69;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .scores-table {
    width: 80% !important;
  }
}
