$primary-color: black;
$color-1: #f9c;
$color-2: #66c2ff;
$color-3: #6c6;

* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to top, $color-1, $color-2, $color-3);
}

.header {
  font-size: 60px;
  margin: 60px 50px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(20);
  }
}

.container {
  display: flex;

  .scoresTable {
    padding: 10px 100px;
    width: 40%;

    .scoreHeader {
      display: flex;
      gap: 10px;

      button {
        color: $primary-color;
        border: 2px $primary-color solid;
        box-shadow: 5px 5px 0 2px;
        margin-left: 180px;
        padding: 7px 15px;
        background-color: white;
      }
    }

    table {
      margin-top: 50px;
      width: 100%;
      border: 3px $primary-color solid;

      tr {
        width: 100%;

        &:nth-child(even) {
          background-color: #e6e3e3;
        }

        td {
          padding-right: 10px;
          padding-top: 10px;
          font-size: 28px;
          color: $primary-color;
        }
      }
    }
  }
}

/* Table Styles */


.formContainer {
  margin-left: 30px;

  .add-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 400px;

    .input-box {
      border: 3px solid black;
      width: 400px;
      font-weight: 500;
      height: 30px;
      padding: 5px;
    }

    .add-btn {
      padding: 7px 15px;
      background-color: white;
      border: 2px solid black;
      font-size: 16px;
      font-weight: 500;
      box-shadow: 5px 5px 0 2px;
      align-self: flex-end;
    }
  }
}

.form h2 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 50px;
}
.refresher {
  background-color: #e6e6f0 !important;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    border-radius: 50%;
    transition: all 0.5s ease-out;
  }

  &:hover::before {
    opacity: 1;
    width: 100%;
    height: 100%;
  }

  &:hover {
    cursor: pointer;
    animation: glow 2s ease-in-out infinite;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 0 #ff2600b3;
    }
    50% {
      box-shadow: 0 0 20px rgba(115, 235, 68, 0.7);
    }
    100% {
      box-shadow: 0 0 0 rgba(38, 0, 255, 0.7);
    }
  }
}

